<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1724" Action="None" />
	<Rule Id="CA1822" Action="Warning" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2227" Action="None" />
	<Rule Id="CA2254" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
	<Rule Id="SA1000" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>
