<span class="@IconClass" aria-hidden="true"></span> @Title

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string IconClass { get; set; } = string.Empty;
}