[*.cs]
dotnet_diagnostic.CA1873.severity = none           # CA1873: Avoid potentially expensive logging

# Sample Web App Effects rules
[**/*Effects.cs]
dotnet_diagnostic.SA1313.severity = none           # Parameter names should begin with lower-case letter

# Sample Web App Reducer rules
[**/*Reducer.cs]
dotnet_diagnostic.SA1313.severity = none           # Parameter names should begin with lower-case letter
