@page "/"

<PageTitle>Tables</PageTitle>

<h1>Tables</h1>

@if (this.tables == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Table Number</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.tables)
            {
                <tr>
                    <td>@item.TableNumber</td>
                    <td>@item.IsInUse ? "In Use" : "Available"</td>
                </tr>
            }
        </tbody>
    </table>
}
