@page "/"

@using MediatR
@using Sample.Restaurant.App.States.Tables

@inherits FluxorComponent

@inject IState<TablesState> State
@inject IDispatcher Dispatcher
@inject IMediator Mediator
@inject NavigationManager NavigationManager

<PageTitle>Tables</PageTitle>

<h1>Tables</h1>

@if (this.State.Value.Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Table Number</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.State.Value.Data)
            {
                <tr>
                    <td>@item.TableNumber</td>
                    <td>@item.Status</td>
                    <td>
                        @if (item.IsInUse)
                        {
                            <button @onclick="@(x => this.ViewTable(item.TableNumber))">View</button>
                        }
                        else
                        {
                            <button @onclick="@(async () => await UseTable(item.TableNumber))">Use</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
